<%- include('layout_top')-%>
  <div class="post">
    <h2 style="color: gold;"><a href="<%= post.url %>"><%= post.title %></a></h2>
    <div class="properties">
      <span><%= post.author %><span>: </span><%= post.date %></span>
    </div>
    <%- post.body %>
    <% comments.forEach( comment => { %>
      <div class="comment">
        <div class="properties">
          <span><%= comment.author %></span>: <span><%= comment.date %></span>
        </div>
        <%- comment.body %>
      </div>
    <% }); %>
    <div class="controls">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="">Comment</button>
      <div class="adminControls">
        <div>
          <a href="#" style="color: gold;">Update</a>
        </div>
        <div>
          <a href="#" style="color: salmon;">Delete</a>
        </div>
      </div>
    </div>
  </div>
<%- include('layout_bottom')-%>
