<%- include('layout_top')-%>
  <% posts.forEach( e => { %>
    <div class="post">
      <h2 style="color: gold;"><a href="<%= e.url %>"><%= e.title %></a></h2>
      <p>By: <i><%= e.author %></i></p>
      <p><%= e.date %></p>
      <%- e.body %>
      <button type="button" class="btn btn-primary">Comment</button>
    </div>
  <% }); %>
<%- include('layout_bottom')-%>
