<%- include('layout_top')-%>
  <!-- Display posts -->
  <% posts.forEach( post => { %>
    <div class="post">
      <h2 style="color: gold;"><a href="<%= post.url %>"><%= post.title %></a></h2>
      <div class="properties">
        <%= post.author %> - <%= post.date %>
      </div>
      <%- post.body %>
      <!-- If post has comments, display comment -->
      <% comments.forEach( comment => { %>
        <% if (comment.post === post._id) { %>
          <div class="comment">
            <div class="properties">
            <%= comment.author %> - <%= comment.date %>
            </div>
            <p><%= comment.body %></p>
          </div>
        <% } %>
    <% }); %>
    <!-- Comment Modal -->
    <!-- Thank ChatGPT -->
    <% function generateId() { %>
      <% let result = ""; %>
      <% for (let i = 0; i < 10; i++) { %>
        <% let char = String.fromCharCode(65 + Math.floor(Math.random() * 26)); %>
        <% result = result + char; %>
      <% } %>
      <% return result; %>
    <% }; %>
    <% let modalId = generateId() %>
    <div class="modal fade" id="<%= modalId %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Leave Comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Comment Form Group -->
            <form method="POST" action="/create/comment">
              <div class="form-group">
                <label for="author">Author:</label>
                <input id="author" class="form-control" type="text" name="author" required />
                <br>
                <label for="body">Body:</label>
                <textarea id="body" class="form-control" name="body" style="height: 150px;" required></textarea>
                <input id="<%= post._id %>" name="postId" value="<%= post._id %>" hidden />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input class="btn btn-primary" type="submit" value="Submit">
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= modalId %>">Comment</button>
    </div>
  <% }); %>
<%- include('layout_bottom')-%>
