<%- include('layout_top')-%>
  <% posts.forEach( post => { %>
    <div class="post">
      <h2 style="color: gold;"><a href="<%= post.url %>"><%= post.title %></a></h2>
      <div class="properties">
        <%= post.author %> - <%= post.date %>
      </div>
      <%- post.body %>
      <% comments.forEach( comment => { %>
        <% if (comment.post === post._id) { %>
          <div class="comment">
            <div class="properties">
            <%= comment.author %> - <%= comment.date %>
            </div>
            <p><%= comment.body %></p>
          </div>
        <% } %>
    <% }); %>
    <button type="button" class="btn btn-primary">Comment</button>
    </div>
  <% }); %>
<%- include('layout_bottom')-%>
